*{
    margin: 0;
    padding:0;
    scroll-behavior: smooth;
}
body{
    background-image:radial-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.8)), 
    url(../image/IMG_20190812_103415.jpg);
    background-position: center;
    background-size: cover;
}
h1{
    color: rgb(255, 30, 0);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px; 
    font-family: STXihei;
    letter-spacing: 3px;
}
nav{
    top: 0;
    width: 100%;
    position: fixed;
}
.navbar{
    min-width: 1100px;
    height: 10vh;
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-right: 5%;
    
}
.logo{
    height: 60px;
    cursor: pointer;
    margin-right: 10px;
}
.navbar ul{
    min-width: 500px;
    text-align: right;
    flex: 1;
}
.navbar ul li{   
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 等线 ;
    transition: 0.5s;
}
.navbar ul li a:hover{
    color: rgb(255, 30, 0) ;
    font-size: 24px;
}
h2{
    color: rgb(255, 30, 0);
    font-weight: bold;
    font-size: 42px; 
    font-family: 等线;
    letter-spacing: 3px;
    line-height: 60px;
}
h3{
    color: rgb(0, 0, 0,);
    font-weight: normal;
    font-size: 18px; 
    font-family: STXihei;
    text-align: left;
    line-height: 30px;
    letter-spacing: 3px;
}
p{
    color: rgb(0, 0, 0);
    font-size: 16px; 
    font-family: STXihei;
    line-height: 30px;
    letter-spacing:1.5px;
    text-indent: 32px;
}
.myinfo{
    margin-top: 12vh;
    margin-left: 14%;
    margin-right: 14%;
    display: flex;
}
.col1{
    padding-top: 40px;
    padding-right: 8%;
    flex-basis: 30%;
}
.col2{
    flex-basis: 70%;
}
.col1 img{
    width: 100%;
    height: auto;
}
.info{
    margin-top: 15px;
}
.intro{
    margin-top: 15px;
}
.award{
    margin-top: 15px
}
.award a{
    text-decoration: none;
    color:black;
    font-weight: normal;
    font-size: 18px; 
    font-family: STXihei;
    line-height: 30px;
    letter-spacing: 3px;
    border-bottom: 1px solid rgb(255, 30, 0);
    transition: 0.5s;
}
.award a:hover{
    color: rgb(255, 30, 0);
    font-size: 18.5px;
}
span{
    color: rgb(0, 0, 0);
    font-size: 20px; 
    font-weight: bold;
    font-family: STXihei;
    line-height: 30px;
    letter-spacing:1.5px;
}
.skill{
    margin-top: 25px;
    margin-left: 14%;
}
.list{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
} 
.card{ 
    height: 40px;
    margin-right: 100px;
    display: flex;
    align-items: center;
}
.card h3{ 
    width: 140px;
}
.card span{
    font-weight: normal;
    font-size: 18px; 
    line-height: 30px;
    letter-spacing: 3px;
}
.bar{
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid rgb(255, 30, 0);
    height: 12px;
    width: 200px;
}
.fill{
    background-color: rgb(255, 30, 0);
    height: 100%;
}
