.img1{
    background-image: url(../image/小展览馆.jpg);
}
.img2{
    background-image: url(../image/1+1住宅.jpg);
}
.img3{
    background-image: url(../image/大学生活动中心.jpg);
}
.img4{
    background-image: url(../image/幼儿园.jpg);
}
.img5{
    background-image: url(../image/iso\ house\ .jpg);
}
.img6{
    background-image: url(../image/wing\ Villa.jpg);
}
.img7{
    background-image: url(../image/博物馆.jpg);
}
.img8{
    background-image: url(../image/酒店.jpg);
}
.img9{
    background-image: url(../image/住宅.jpg);
}
.img10{
    background-image: url(../image/住区规划.jpg);
}
.img11{
    background-image: url(../image/谷雨杯.jpg);
}
.img12{
    background-image: url(../image/火车站.jpg);
}
.img13{
    background-image: url(../image/剧院.jpg);
}
.img14{
    background-image: url(../image/丑美林盘.jpg);
}
.img15{
    background-image: url(../image/城市设计.jpg);
}
.img16{
    background-image: url(../image/高层.jpg);
}
.img17{
    background-image: url(../image/Light\ in\ The\ Crevice.jpg);
}