.img1{
    background-image: url(../image3/拼贴成都/MG_8428.jpg);
}
.img2{
    background-image: url(../image3/黑白/212949.jpg);
}
.img3{
    background-image: url(../image/IMG_20190812_103415.jpg);
}
.img4{
    background-image: url(../image3/人文/258535.jpg);
}
.img5{
    background-image: url(../image3/武汉/MG_7213.jpg);
}
.img6{
    background-image: url(../image/苏博_画板\ 1.jpg);
}
.img7{
    background-image: url(../image/教堂-01.jpg);
}
.img8{
    background-image: url(../image/房子_画板\ 1.png);
}
.img9{
    background-image: url(../image/头像xx.jpg);
}
.img10{
    background-image: url(../image/李志x.jpg);
}
.img11{
    background-image: url(../image/1659338623648.jpg);
}
.img12{
    background-image: url(../image/Ukraine.jpg);
}
