*{
    margin: 0;
    padding:0;
}
.background{

    width: 100%;
    height: 100vh;
    min-width: 1000px;
    background-image: radial-gradient(rgba(180,180,180,0),rgba(0,0,0,0.5)),
    url(../image/小透1.jpg);
    background-position: center;
    background-size: cover;
    padding-left:8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height:15%;
    display: flex;
    align-items: center;
    
}
.logo{
    width: 80px;
    cursor: pointer;
}
nav{
    flex: 1;
   text-align: right;
   min-width: 500px;
}
nav ul li{   
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 等线 ;
    transition: 0.5s;
}
nav ul li a:hover{
    color: rgb(255, 30, 0) ;
    transform: rotate(90);
    font-size: 22px;
}
h1{
    color: white;
    font-weight: bold;
    font-size: 36px; 
    font-family: 等线;
    letter-spacing: 3px;
}
h2{
    color: rgb(255, 30, 0);
    font-weight: normal;
    font-size: 1.3vw; 
    font-family: 等线;
    text-align: left;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
p{
    color: white;
    font-size: 18px; 
    font-family: STXihei;
    margin-top: 15px;
    line-height: 24px;
}
.row{
    display:flex;
    height: 80%;
    align-items: center;
}
.col{
    float: right;
    flex-basis: 50%;
    min-width: 500px;
}
.col1{
    margin-right: 10vw;
}
.col2{
    margin-left: 3vw;
}
button{
    margin-top: 30px;
    width: 150px;
    height: 40px;
    background-color: rgb(255, 30, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
button a{
    text-decoration: none;
    color: white;
    font-family: STXihei;
    font-size: 20px;
    letter-spacing: 3px;
}
button:hover{
    transform: scale(1.2);
}
a{
    text-decoration:none
} 
.card{
    width: 15vw;
    height: 30vh;
    min-width: 100px;
    border-radius: 10px;
    padding:8px 20px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    margin-left: 2vw;
    margin-top: 3vh;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.card1{
    background-image: linear-gradient(rgba(0, 0, 0,0.5),rgba(0, 0, 0,0),rgba(0, 0, 0,0)),
    url(../image/火车站.jpg);
}
.card2{
    background-image: linear-gradient(rgba(0, 0, 0,0.5),rgba(0, 0, 0,0),rgba(0, 0, 0,0)),
    url(../image/IMG_20190812_103415.jpg);
}
.card3{
    background-image: linear-gradient(rgba(0, 0, 0,0.5),rgba(0, 0, 0,0),rgba(0, 0, 0,0)),
    url(../image/苏博_画板\ 1.jpg);
}
.card4{
    background-image: linear-gradient(rgba(0, 0, 0,0.5),rgba(0, 0, 0,0),rgba(0, 0, 0,0)),
    url(../image/IMG_20220712_113916.jpg);
}
.card:hover{
    transform: scale(1.2);
}